@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    font-family: "Lato", sans-serif;
  }

  header,
  #showcase {
    @apply bg-main;
  }

  .heading-xl,
  .heading-lg,
  .heading2 {
    font-weight: 700;
    font-size: 54px;
    line-height: 140%;
  }

  .heading-lg {
    font-size: 23px;
  }

  .heading2 {
    font-size: 36px;
  }

  .heading-md {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
  }

  .price {
    border: 1px solid #31343a;
    border-radius: 16px;
  }

  .categories {
    background: #161a1f;
    border: 1px solid rgba(255, 255, 255, 0.16);
    box-shadow: 0px 8px 24px rgba(5, 7, 11, 0.6);
    border-radius: 16px;
  }

  .imageBack {
    background: linear-gradient(
      360deg,
      #090d14 34.72%,
      rgba(9, 13, 20, 0) 100%
    );
    position: absolute;
    left: 0;
    top: 0;
  }

  .prirority {
    border-radius: 10px;
  }

  .categories > div {
    background: #0f1319;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
  }

  .categories > div:hover {
    border: 1px solid red;
    @apply bg-main;
  }

  .btn {
    @apply bg-fireColor;
    padding: 10px 92px;
    border-radius: 10px;
  }

  .btn:hover {
    opacity: 0.9;
  }

  .swiper-button-prev {
    width: 32px !important;
    height: 32px !important;
    position: static !important;
    margin: 0 !important;
    @apply bg-leftArrow;
  }

  .swiper-button-prev::after {
    display: none;
  }

  .swiper-button-next::after {
    display: none;
  }

  .swiper-button-next {
    margin: 0 !important;
    position: static !important;
    width: 32px !important;
    height: 32px !important;
    @apply bg-rightArrow;
  }

  .swiper-slide {
    background: #21252b;
    border: 1px solid #31343a;
    border-radius: 16px;
    display: flex !important;
    justify-content: center !important;
    align-items: center;
    height: 124px !important;
    background-color: rgba(49, 52, 58, 1);
  }

  .text-md {
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
  }

  .btn a {
    font-weight: 500;
    color: #fff;
    font-size: 18px;
    line-height: 28px;
  }

  input,
  textarea {
    background: rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    outline: none;
    padding: 13px 16px;
  }

  textarea {
    resize: none;
  }

  footer {
    border-top: 3px solid rgba(255, 62, 45, 1);
    background: #0a0e15;
  }

  .footer-bottom {
    background: rgba(54, 49, 48, 0.54);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
  }

  @media (max-width: 500px) {
    .btn {
      padding: 10px;
    }
  }
}
